---
import "@fontsource/inter";
import "../styles/base.css";

export interface Props {
  title: string;
  cloudflareToken?: string;
}

const { title, cloudflareToken } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script type="text/javascript" src="particles.min.js"></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
    {/* Cloudflare Web Analytics */}
    {
      cloudflareToken && (
        <script
          defer
          is:inline
          src="https://static.cloudflareinsights.com/beacon.min.js"
          data-cf-beacon={JSON.stringify({ token: cloudflareToken })}
        />
      )
    }
  </body>
</html>
